@import "tailwindcss";
@import './styles/font.css';

:root {
  --background: #ededed;
  --foreground: #FFF9EB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF9EB;
    --foreground: #ededed;
  }
}

* {
  font-family: 'Jeko';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jeko';
}

.qurova-font {
  font-family: 'Qurova';
}

.stroke-text {
  -webkit-text-stroke: 1.5px #A68160;
  color: #FFF9EB;
}
